# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.pyo

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Temporary Files
# ===========================
temp_session/
output/
colmap_workspace/
colmap_data/

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Operating System
# ===========================
.DS_Store
Thumbs.db